---
const year = new Date().getFullYear();
---

<footer class="footer">
  <p>Copyright &copy;{year} Bicardo Builders Inc. License #: 875643</p>
</footer>

<style>
  .footer {
    grid-column: 2 / span 10;
    text-align: center;
    padding: 32px 24px;
    font-size: 14px;
    color: var(--color-text-primary);
    margin-top: auto;
  }

  .footer p {
    margin: 0;
  }
</style>
